@model EntityLayer.Concrete.Musteriler
@{
    ViewBag.Title = "AddMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Müşteri Ekleme</h1>
<br />
@using (Html.BeginForm("AddMusteri", "Musteriler", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Müşteri Adı")
        @Html.TextBoxFor(x => x.M_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.M_Name)
        <br />
        @Html.Label("Müşteri Soyadı")
        @Html.TextBoxFor(x => x.M_Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.M_Surname)
        <br />
        @Html.Label("Müşteri Hakkında")
        @Html.TextBoxFor(x => x.M_About, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.M_About)
        <br />
        @Html.Label("Müşteri Unvan")
        @Html.TextBoxFor(x => x.M_Unvan, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.M_Unvan)
        <br />
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>

}

